---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.10.0
  creationTimestamp: null
  name: estimators.waofed.bitmedia.co.jp
spec:
  group: waofed.bitmedia.co.jp
  names:
    kind: Estimator
    listKind: EstimatorList
    plural: estimators
    singular: estimator
  scope: Namespaced
  versions:
  - name: v1beta1
    schema:
      openAPIV3Schema:
        description: Estimator is the Schema for the estimators API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: EstimatorSpec defines the desired state of Estimator
            properties:
              foo:
                description: Foo is an example field of Estimator. Edit estimator_types.go
                  to remove/update
                type: string
            type: object
          status:
            description: EstimatorStatus defines the observed state of Estimator
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
